CREATE TABLE gpkg_spatial_ref_sys (srs_name TEXT NOT NULL,srs_id INTEGER NOT NULL PRIMARY KEY,organization TEXT NOT NULL,organization_coordsys_id INTEGER NOT NULL,definition  TEXT NOT NULL,description TEXT);
CREATE TABLE gpkg_contents (table_name TEXT NOT NULL PRIMARY KEY,data_type TEXT NOT NULL,identifier TEXT UNIQUE,description TEXT DEFAULT '',last_change DATETIME NOT NULL DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ','now')),min_x DOUBLE, min_y DOUBLE,max_x DOUBLE, max_y DOUBLE,srs_id INTEGER,CONSTRAINT fk_gc_r_srs_id FOREIGN KEY (srs_id) REFERENCES gpkg_spatial_ref_sys(srs_id));
CREATE TABLE gpkg_ogr_contents(table_name TEXT NOT NULL PRIMARY KEY,feature_count INTEGER DEFAULT NULL);
CREATE TABLE gpkg_geometry_columns (table_name TEXT NOT NULL,column_name TEXT NOT NULL,geometry_type_name TEXT NOT NULL,srs_id INTEGER NOT NULL,z TINYINT NOT NULL,m TINYINT NOT NULL,CONSTRAINT pk_geom_cols PRIMARY KEY (table_name, column_name),CONSTRAINT uk_gc_table_name UNIQUE (table_name),CONSTRAINT fk_gc_tn FOREIGN KEY (table_name) REFERENCES gpkg_contents(table_name),CONSTRAINT fk_gc_srs FOREIGN KEY (srs_id) REFERENCES gpkg_spatial_ref_sys (srs_id));
CREATE TABLE gpkg_tile_matrix_set (table_name TEXT NOT NULL PRIMARY KEY,srs_id INTEGER NOT NULL,min_x DOUBLE NOT NULL,min_y DOUBLE NOT NULL,max_x DOUBLE NOT NULL,max_y DOUBLE NOT NULL,CONSTRAINT fk_gtms_table_name FOREIGN KEY (table_name) REFERENCES gpkg_contents(table_name),CONSTRAINT fk_gtms_srs FOREIGN KEY (srs_id) REFERENCES gpkg_spatial_ref_sys (srs_id));
CREATE TABLE gpkg_tile_matrix (table_name TEXT NOT NULL,zoom_level INTEGER NOT NULL,matrix_width INTEGER NOT NULL,matrix_height INTEGER NOT NULL,tile_width INTEGER NOT NULL,tile_height INTEGER NOT NULL,pixel_x_size DOUBLE NOT NULL,pixel_y_size DOUBLE NOT NULL,CONSTRAINT pk_ttm PRIMARY KEY (table_name, zoom_level),CONSTRAINT fk_tmm_table_name FOREIGN KEY (table_name) REFERENCES gpkg_contents(table_name));
CREATE TRIGGER 'gpkg_tile_matrix_zoom_level_insert' BEFORE INSERT ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'insert on table ''gpkg_tile_matrix'' violates constraint: zoom_level cannot be less than 0') WHERE (NEW.zoom_level < 0); END;
CREATE TRIGGER 'gpkg_tile_matrix_zoom_level_update' BEFORE UPDATE of zoom_level ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'update on table ''gpkg_tile_matrix'' violates constraint: zoom_level cannot be less than 0') WHERE (NEW.zoom_level < 0); END;
CREATE TRIGGER 'gpkg_tile_matrix_matrix_width_insert' BEFORE INSERT ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'insert on table ''gpkg_tile_matrix'' violates constraint: matrix_width cannot be less than 1') WHERE (NEW.matrix_width < 1); END;
CREATE TRIGGER 'gpkg_tile_matrix_matrix_width_update' BEFORE UPDATE OF matrix_width ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'update on table ''gpkg_tile_matrix'' violates constraint: matrix_width cannot be less than 1') WHERE (NEW.matrix_width < 1); END;
CREATE TRIGGER 'gpkg_tile_matrix_matrix_height_insert' BEFORE INSERT ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'insert on table ''gpkg_tile_matrix'' violates constraint: matrix_height cannot be less than 1') WHERE (NEW.matrix_height < 1); END;
CREATE TRIGGER 'gpkg_tile_matrix_matrix_height_update' BEFORE UPDATE OF matrix_height ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'update on table ''gpkg_tile_matrix'' violates constraint: matrix_height cannot be less than 1') WHERE (NEW.matrix_height < 1); END;
CREATE TRIGGER 'gpkg_tile_matrix_pixel_x_size_insert' BEFORE INSERT ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'insert on table ''gpkg_tile_matrix'' violates constraint: pixel_x_size must be greater than 0') WHERE NOT (NEW.pixel_x_size > 0); END;
CREATE TRIGGER 'gpkg_tile_matrix_pixel_x_size_update' BEFORE UPDATE OF pixel_x_size ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'update on table ''gpkg_tile_matrix'' violates constraint: pixel_x_size must be greater than 0') WHERE NOT (NEW.pixel_x_size > 0); END;
CREATE TRIGGER 'gpkg_tile_matrix_pixel_y_size_insert' BEFORE INSERT ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'insert on table ''gpkg_tile_matrix'' violates constraint: pixel_y_size must be greater than 0') WHERE NOT (NEW.pixel_y_size > 0); END;
CREATE TRIGGER 'gpkg_tile_matrix_pixel_y_size_update' BEFORE UPDATE OF pixel_y_size ON 'gpkg_tile_matrix' FOR EACH ROW BEGIN SELECT RAISE(ABORT, 'update on table ''gpkg_tile_matrix'' violates constraint: pixel_y_size must be greater than 0') WHERE NOT (NEW.pixel_y_size > 0); END;
CREATE TABLE gpkg_extensions (table_name TEXT,column_name TEXT,extension_name TEXT NOT NULL,definition TEXT NOT NULL,scope TEXT NOT NULL,CONSTRAINT ge_tce UNIQUE (table_name, column_name, extension_name));
CREATE TABLE gpkg_metadata (id INTEGER CONSTRAINT m_pk PRIMARY KEY ASC NOT NULL,md_scope TEXT NOT NULL DEFAULT 'dataset',md_standard_uri TEXT NOT NULL,mime_type TEXT NOT NULL DEFAULT 'text/xml',metadata TEXT NOT NULL DEFAULT '');
CREATE TABLE gpkg_metadata_reference (reference_scope TEXT NOT NULL,table_name TEXT,column_name TEXT,row_id_value INTEGER,timestamp DATETIME NOT NULL DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ','now')),md_file_id INTEGER NOT NULL,md_parent_id INTEGER,CONSTRAINT crmr_mfi_fk FOREIGN KEY (md_file_id) REFERENCES gpkg_metadata(id),CONSTRAINT crmr_mpi_fk FOREIGN KEY (md_parent_id) REFERENCES gpkg_metadata(id));
CREATE TABLE IF NOT EXISTS "layer_styles" ( "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "f_table_catalog" TEXT(256), "f_table_schema" TEXT(256), "f_table_name" TEXT(256), "f_geometry_column" TEXT(256), "styleName" TEXT(30), "styleQML" TEXT, "styleSLD" TEXT, "useAsDefault" BOOLEAN, "description" TEXT, "owner" TEXT(30), "ui" TEXT(30), "update_time" DATETIME DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ','now')));
CREATE TABLE IF NOT EXISTS "Added geometry info" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" POINT, "id" INTEGER, "nama_gk" TEXT(50), "xcoord" REAL, "ycoord" REAL);
CREATE VIRTUAL TABLE "rtree_Added geometry info_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_Added geometry info_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_Added geometry info_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_Added geometry info_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_Added geometry info_geom_insert" AFTER INSERT ON "Added geometry info" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_Added geometry info_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Added geometry info_geom_update6" AFTER UPDATE OF "geom" ON "Added geometry info" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_Added geometry info_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_Added geometry info_geom_update7" AFTER UPDATE OF "geom" ON "Added geometry info" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_Added geometry info_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Added geometry info_geom_update2" AFTER UPDATE OF "geom" ON "Added geometry info" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Added geometry info_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_Added geometry info_geom_update5" AFTER UPDATE ON "Added geometry info" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Added geometry info_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_Added geometry info_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Added geometry info_geom_update4" AFTER UPDATE ON "Added geometry info" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Added geometry info_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_Added geometry info_geom_delete" AFTER DELETE ON "Added geometry info" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_Added geometry info_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_Added geometry info" AFTER INSERT ON "Added geometry info" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('Added geometry info'); END;
CREATE TRIGGER "trigger_delete_feature_count_Added geometry info" AFTER DELETE ON "Added geometry info" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('Added geometry info'); END;
CREATE TABLE IF NOT EXISTS "ADMINISTRASIKECAMATAN_AR_50K" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" MULTIPOLYGON, "KDPPUM" TEXT(2), "NAMOBJ" TEXT(50), "REMARK" TEXT(250), "KDPBPS" TEXT(2), "FCODE" TEXT(50), "LUASWH" REAL, "UUPP" TEXT(50), "SRS_ID" TEXT(50), "LCODE" TEXT(50), "METADATA" TEXT(50), "KDEBPS" TEXT(50), "KDEPUM" TEXT(50), "KDCBPS" TEXT(50), "KDCPUM" TEXT(50), "KDBBPS" TEXT(50), "KDBPUM" TEXT(50), "WADMKD" TEXT(50), "WIADKD" TEXT(50), "WADMKC" TEXT(50), "WIADKC" TEXT(50), "WADMKK" TEXT(50), "WIADKK" TEXT(50), "WADMPR" TEXT(50), "WIADPR" TEXT(50), "TIPADM" INTEGER, "Shape_Leng" REAL, "Shape_Area" REAL);
CREATE VIRTUAL TABLE "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_insert" AFTER INSERT ON "ADMINISTRASIKECAMATAN_AR_50K" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_update6" AFTER UPDATE OF "geom" ON "ADMINISTRASIKECAMATAN_AR_50K" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_update7" AFTER UPDATE OF "geom" ON "ADMINISTRASIKECAMATAN_AR_50K" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_update2" AFTER UPDATE OF "geom" ON "ADMINISTRASIKECAMATAN_AR_50K" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_update5" AFTER UPDATE ON "ADMINISTRASIKECAMATAN_AR_50K" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_update4" AFTER UPDATE ON "ADMINISTRASIKECAMATAN_AR_50K" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom_delete" AFTER DELETE ON "ADMINISTRASIKECAMATAN_AR_50K" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_ADMINISTRASIKECAMATAN_AR_50K_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_ADMINISTRASIKECAMATAN_AR_50K" AFTER INSERT ON "ADMINISTRASIKECAMATAN_AR_50K" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('ADMINISTRASIKECAMATAN_AR_50K'); END;
CREATE TRIGGER "trigger_delete_feature_count_ADMINISTRASIKECAMATAN_AR_50K" AFTER DELETE ON "ADMINISTRASIKECAMATAN_AR_50K" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('ADMINISTRASIKECAMATAN_AR_50K'); END;
CREATE TABLE IF NOT EXISTS "area_universitas" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" POLYGON);
CREATE VIRTUAL TABLE "rtree_area_universitas_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_area_universitas_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_area_universitas_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_area_universitas_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_area_universitas_geom_insert" AFTER INSERT ON "area_universitas" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_area_universitas_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_area_universitas_geom_update6" AFTER UPDATE OF "geom" ON "area_universitas" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_area_universitas_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_area_universitas_geom_update7" AFTER UPDATE OF "geom" ON "area_universitas" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_area_universitas_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_area_universitas_geom_update2" AFTER UPDATE OF "geom" ON "area_universitas" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_area_universitas_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_area_universitas_geom_update5" AFTER UPDATE ON "area_universitas" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_area_universitas_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_area_universitas_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_area_universitas_geom_update4" AFTER UPDATE ON "area_universitas" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_area_universitas_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_area_universitas_geom_delete" AFTER DELETE ON "area_universitas" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_area_universitas_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_area_universitas" AFTER INSERT ON "area_universitas" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('area_universitas'); END;
CREATE TRIGGER "trigger_delete_feature_count_area_universitas" AFTER DELETE ON "area_universitas" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('area_universitas'); END;
CREATE TABLE IF NOT EXISTS "Clipped" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" MULTILINESTRING, "osm_id" TEXT, "osm_version" MEDIUMINT, "osm_timestamp" DATETIME, "osm_uid" MEDIUMINT, "osm_user" TEXT, "osm_changeset" MEDIUMINT, "other_tags" TEXT);
CREATE VIRTUAL TABLE "rtree_Clipped_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_Clipped_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_Clipped_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_Clipped_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_Clipped_geom_insert" AFTER INSERT ON "Clipped" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_Clipped_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Clipped_geom_update6" AFTER UPDATE OF "geom" ON "Clipped" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_Clipped_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_Clipped_geom_update7" AFTER UPDATE OF "geom" ON "Clipped" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_Clipped_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Clipped_geom_update2" AFTER UPDATE OF "geom" ON "Clipped" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Clipped_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_Clipped_geom_update5" AFTER UPDATE ON "Clipped" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Clipped_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_Clipped_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Clipped_geom_update4" AFTER UPDATE ON "Clipped" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Clipped_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_Clipped_geom_delete" AFTER DELETE ON "Clipped" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_Clipped_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_Clipped" AFTER INSERT ON "Clipped" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('Clipped'); END;
CREATE TRIGGER "trigger_delete_feature_count_Clipped" AFTER DELETE ON "Clipped" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('Clipped'); END;
CREATE TABLE IF NOT EXISTS "Fixed geometries" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" MULTIPOLYGON, "KDPPUM" TEXT(2), "NAMOBJ" TEXT(50), "REMARK" TEXT(250), "KDPBPS" TEXT(2), "FCODE" TEXT(50), "LUASWH" REAL, "UUPP" TEXT(50), "SRS_ID" TEXT(50), "LCODE" TEXT(50), "METADATA" TEXT(50), "KDEBPS" TEXT(50), "KDEPUM" TEXT(50), "KDCBPS" TEXT(50), "KDCPUM" TEXT(50), "KDBBPS" TEXT(50), "KDBPUM" TEXT(50), "WADMKD" TEXT(50), "WIADKD" TEXT(50), "WADMKC" TEXT(50), "WIADKC" TEXT(50), "WADMKK" TEXT(50), "WIADKK" TEXT(50), "WADMPR" TEXT(50), "WIADPR" TEXT(50), "TIPADM" INTEGER, "Shape_Leng" REAL, "Shape_Area" REAL);
CREATE VIRTUAL TABLE "rtree_Fixed geometries_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_Fixed geometries_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_Fixed geometries_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_Fixed geometries_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_Fixed geometries_geom_insert" AFTER INSERT ON "Fixed geometries" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_Fixed geometries_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Fixed geometries_geom_update6" AFTER UPDATE OF "geom" ON "Fixed geometries" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_Fixed geometries_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_Fixed geometries_geom_update7" AFTER UPDATE OF "geom" ON "Fixed geometries" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_Fixed geometries_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Fixed geometries_geom_update2" AFTER UPDATE OF "geom" ON "Fixed geometries" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Fixed geometries_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_Fixed geometries_geom_update5" AFTER UPDATE ON "Fixed geometries" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Fixed geometries_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_Fixed geometries_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Fixed geometries_geom_update4" AFTER UPDATE ON "Fixed geometries" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Fixed geometries_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_Fixed geometries_geom_delete" AFTER DELETE ON "Fixed geometries" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_Fixed geometries_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_Fixed geometries" AFTER INSERT ON "Fixed geometries" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('Fixed geometries'); END;
CREATE TRIGGER "trigger_delete_feature_count_Fixed geometries" AFTER DELETE ON "Fixed geometries" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('Fixed geometries'); END;
CREATE TABLE IF NOT EXISTS "GerbangMasuk" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" POINT, "id" INTEGER, "Namagb" TEXT(50));
CREATE VIRTUAL TABLE "rtree_GerbangMasuk_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_GerbangMasuk_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_GerbangMasuk_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_GerbangMasuk_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_GerbangMasuk_geom_insert" AFTER INSERT ON "GerbangMasuk" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_GerbangMasuk_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_GerbangMasuk_geom_update6" AFTER UPDATE OF "geom" ON "GerbangMasuk" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_GerbangMasuk_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_GerbangMasuk_geom_update7" AFTER UPDATE OF "geom" ON "GerbangMasuk" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_GerbangMasuk_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_GerbangMasuk_geom_update2" AFTER UPDATE OF "geom" ON "GerbangMasuk" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_GerbangMasuk_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_GerbangMasuk_geom_update5" AFTER UPDATE ON "GerbangMasuk" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_GerbangMasuk_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_GerbangMasuk_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_GerbangMasuk_geom_update4" AFTER UPDATE ON "GerbangMasuk" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_GerbangMasuk_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_GerbangMasuk_geom_delete" AFTER DELETE ON "GerbangMasuk" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_GerbangMasuk_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_GerbangMasuk" AFTER INSERT ON "GerbangMasuk" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('GerbangMasuk'); END;
CREATE TRIGGER "trigger_delete_feature_count_GerbangMasuk" AFTER DELETE ON "GerbangMasuk" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('GerbangMasuk'); END;
CREATE TABLE IF NOT EXISTS "jalan_unib_clipped" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" MULTILINESTRING, "osm_id" TEXT, "osm_version" MEDIUMINT, "osm_timestamp" DATETIME, "osm_uid" MEDIUMINT, "osm_user" TEXT, "osm_changeset" MEDIUMINT, "other_tags" TEXT);
CREATE VIRTUAL TABLE "rtree_jalan_unib_clipped_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_jalan_unib_clipped_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_jalan_unib_clipped_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_jalan_unib_clipped_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_jalan_unib_clipped_geom_insert" AFTER INSERT ON "jalan_unib_clipped" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_jalan_unib_clipped_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_jalan_unib_clipped_geom_update6" AFTER UPDATE OF "geom" ON "jalan_unib_clipped" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_jalan_unib_clipped_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_jalan_unib_clipped_geom_update7" AFTER UPDATE OF "geom" ON "jalan_unib_clipped" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_jalan_unib_clipped_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_jalan_unib_clipped_geom_update2" AFTER UPDATE OF "geom" ON "jalan_unib_clipped" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_jalan_unib_clipped_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_jalan_unib_clipped_geom_update5" AFTER UPDATE ON "jalan_unib_clipped" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_jalan_unib_clipped_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_jalan_unib_clipped_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_jalan_unib_clipped_geom_update4" AFTER UPDATE ON "jalan_unib_clipped" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_jalan_unib_clipped_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_jalan_unib_clipped_geom_delete" AFTER DELETE ON "jalan_unib_clipped" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_jalan_unib_clipped_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_jalan_unib_clipped" AFTER INSERT ON "jalan_unib_clipped" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('jalan_unib_clipped'); END;
CREATE TRIGGER "trigger_delete_feature_count_jalan_unib_clipped" AFTER DELETE ON "jalan_unib_clipped" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('jalan_unib_clipped'); END;
CREATE TABLE IF NOT EXISTS "jalan_unib_clipped copy" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" MULTILINESTRING, "osm_id" TEXT, "osm_version" MEDIUMINT, "osm_timestamp" DATETIME, "osm_uid" MEDIUMINT, "osm_user" TEXT, "osm_changeset" MEDIUMINT, "other_tags" TEXT);
CREATE VIRTUAL TABLE "rtree_jalan_unib_clipped copy_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_jalan_unib_clipped copy_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_jalan_unib_clipped copy_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_jalan_unib_clipped copy_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_jalan_unib_clipped copy_geom_insert" AFTER INSERT ON "jalan_unib_clipped copy" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_jalan_unib_clipped copy_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_jalan_unib_clipped copy_geom_update6" AFTER UPDATE OF "geom" ON "jalan_unib_clipped copy" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_jalan_unib_clipped copy_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_jalan_unib_clipped copy_geom_update7" AFTER UPDATE OF "geom" ON "jalan_unib_clipped copy" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_jalan_unib_clipped copy_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_jalan_unib_clipped copy_geom_update2" AFTER UPDATE OF "geom" ON "jalan_unib_clipped copy" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_jalan_unib_clipped copy_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_jalan_unib_clipped copy_geom_update5" AFTER UPDATE ON "jalan_unib_clipped copy" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_jalan_unib_clipped copy_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_jalan_unib_clipped copy_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_jalan_unib_clipped copy_geom_update4" AFTER UPDATE ON "jalan_unib_clipped copy" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_jalan_unib_clipped copy_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_jalan_unib_clipped copy_geom_delete" AFTER DELETE ON "jalan_unib_clipped copy" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_jalan_unib_clipped copy_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_jalan_unib_clipped copy" AFTER INSERT ON "jalan_unib_clipped copy" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('jalan_unib_clipped copy'); END;
CREATE TRIGGER "trigger_delete_feature_count_jalan_unib_clipped copy" AFTER DELETE ON "jalan_unib_clipped copy" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('jalan_unib_clipped copy'); END;
CREATE TABLE IF NOT EXISTS "Keluar" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" POINT, "id" INTEGER, "nama_gk" TEXT(50));
CREATE VIRTUAL TABLE "rtree_Keluar_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_Keluar_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_Keluar_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_Keluar_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_Keluar_geom_insert" AFTER INSERT ON "Keluar" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_Keluar_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Keluar_geom_update6" AFTER UPDATE OF "geom" ON "Keluar" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_Keluar_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_Keluar_geom_update7" AFTER UPDATE OF "geom" ON "Keluar" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_Keluar_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Keluar_geom_update2" AFTER UPDATE OF "geom" ON "Keluar" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Keluar_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_Keluar_geom_update5" AFTER UPDATE ON "Keluar" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Keluar_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_Keluar_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Keluar_geom_update4" AFTER UPDATE ON "Keluar" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Keluar_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_Keluar_geom_delete" AFTER DELETE ON "Keluar" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_Keluar_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_Keluar" AFTER INSERT ON "Keluar" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('Keluar'); END;
CREATE TRIGGER "trigger_delete_feature_count_Keluar" AFTER DELETE ON "Keluar" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('Keluar'); END;
CREATE TABLE IF NOT EXISTS "lines" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" LINESTRING, "osm_id" TEXT, "name" TEXT, "highway" TEXT, "waterway" TEXT, "aerialway" TEXT, "barrier" TEXT, "man_made" TEXT, "railway" TEXT, "z_order" MEDIUMINT, "other_tags" TEXT);
CREATE VIRTUAL TABLE "rtree_lines_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_lines_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_lines_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_lines_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_lines_geom_insert" AFTER INSERT ON "lines" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_lines_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_lines_geom_update6" AFTER UPDATE OF "geom" ON "lines" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_lines_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_lines_geom_update7" AFTER UPDATE OF "geom" ON "lines" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_lines_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_lines_geom_update2" AFTER UPDATE OF "geom" ON "lines" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_lines_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_lines_geom_update5" AFTER UPDATE ON "lines" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_lines_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_lines_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_lines_geom_update4" AFTER UPDATE ON "lines" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_lines_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_lines_geom_delete" AFTER DELETE ON "lines" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_lines_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_lines" AFTER INSERT ON "lines" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('lines'); END;
CREATE TRIGGER "trigger_delete_feature_count_lines" AFTER DELETE ON "lines" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('lines'); END;
CREATE TABLE IF NOT EXISTS "Lokasi_UTBK" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" POINT, "id" INTEGER, "Nama_gdg" TEXT(40));
CREATE VIRTUAL TABLE "rtree_Lokasi_UTBK_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_Lokasi_UTBK_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_Lokasi_UTBK_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_Lokasi_UTBK_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_Lokasi_UTBK_geom_insert" AFTER INSERT ON "Lokasi_UTBK" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_Lokasi_UTBK_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Lokasi_UTBK_geom_update6" AFTER UPDATE OF "geom" ON "Lokasi_UTBK" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_Lokasi_UTBK_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_Lokasi_UTBK_geom_update7" AFTER UPDATE OF "geom" ON "Lokasi_UTBK" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_Lokasi_UTBK_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Lokasi_UTBK_geom_update2" AFTER UPDATE OF "geom" ON "Lokasi_UTBK" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Lokasi_UTBK_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_Lokasi_UTBK_geom_update5" AFTER UPDATE ON "Lokasi_UTBK" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Lokasi_UTBK_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_Lokasi_UTBK_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_Lokasi_UTBK_geom_update4" AFTER UPDATE ON "Lokasi_UTBK" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_Lokasi_UTBK_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_Lokasi_UTBK_geom_delete" AFTER DELETE ON "Lokasi_UTBK" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_Lokasi_UTBK_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_Lokasi_UTBK" AFTER INSERT ON "Lokasi_UTBK" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('Lokasi_UTBK'); END;
CREATE TRIGGER "trigger_delete_feature_count_Lokasi_UTBK" AFTER DELETE ON "Lokasi_UTBK" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('Lokasi_UTBK'); END;
CREATE TABLE IF NOT EXISTS "unibfix" ( "fid" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "geom" MULTIPOLYGON);
CREATE VIRTUAL TABLE "rtree_unibfix_geom" USING rtree(id, minx, maxx, miny, maxy);
CREATE TABLE IF NOT EXISTS "rtree_unibfix_geom_rowid"(rowid INTEGER PRIMARY KEY,nodeno);
CREATE TABLE IF NOT EXISTS "rtree_unibfix_geom_node"(nodeno INTEGER PRIMARY KEY,data);
CREATE TABLE IF NOT EXISTS "rtree_unibfix_geom_parent"(nodeno INTEGER PRIMARY KEY,parentnode);
CREATE TRIGGER "rtree_unibfix_geom_insert" AFTER INSERT ON "unibfix" WHEN (new."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN INSERT OR REPLACE INTO "rtree_unibfix_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_unibfix_geom_update6" AFTER UPDATE OF "geom" ON "unibfix" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" NOTNULL AND NOT ST_IsEmpty(OLD."geom")) BEGIN UPDATE "rtree_unibfix_geom" SET minx = ST_MinX(NEW."geom"), maxx = ST_MaxX(NEW."geom"),miny = ST_MinY(NEW."geom"), maxy = ST_MaxY(NEW."geom") WHERE id = NEW."fid";END;
CREATE TRIGGER "rtree_unibfix_geom_update7" AFTER UPDATE OF "geom" ON "unibfix" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) AND (OLD."geom" ISNULL OR ST_IsEmpty(OLD."geom")) BEGIN INSERT INTO "rtree_unibfix_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_unibfix_geom_update2" AFTER UPDATE OF "geom" ON "unibfix" WHEN OLD."fid" = NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_unibfix_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "rtree_unibfix_geom_update5" AFTER UPDATE ON "unibfix" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" NOTNULL AND NOT ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_unibfix_geom" WHERE id = OLD."fid"; INSERT OR REPLACE INTO "rtree_unibfix_geom" VALUES (NEW."fid",ST_MinX(NEW."geom"), ST_MaxX(NEW."geom"),ST_MinY(NEW."geom"), ST_MaxY(NEW."geom")); END;
CREATE TRIGGER "rtree_unibfix_geom_update4" AFTER UPDATE ON "unibfix" WHEN OLD."fid" != NEW."fid" AND (NEW."geom" ISNULL OR ST_IsEmpty(NEW."geom")) BEGIN DELETE FROM "rtree_unibfix_geom" WHERE id IN (OLD."fid", NEW."fid"); END;
CREATE TRIGGER "rtree_unibfix_geom_delete" AFTER DELETE ON "unibfix" WHEN old."geom" NOT NULL BEGIN DELETE FROM "rtree_unibfix_geom" WHERE id = OLD."fid"; END;
CREATE TRIGGER "trigger_insert_feature_count_unibfix" AFTER INSERT ON "unibfix" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('unibfix'); END;
CREATE TRIGGER "trigger_delete_feature_count_unibfix" AFTER DELETE ON "unibfix" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('unibfix'); END;
CREATE TRIGGER "trigger_insert_feature_count_layer_styles" AFTER INSERT ON "layer_styles" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count + 1 WHERE lower(table_name) = lower('layer_styles'); END;
CREATE TRIGGER "trigger_delete_feature_count_layer_styles" AFTER DELETE ON "layer_styles" BEGIN UPDATE gpkg_ogr_contents SET feature_count = feature_count - 1 WHERE lower(table_name) = lower('layer_styles'); END;
